# Logs
logs
*.log
projects/npm-debug.log*
todos/npm-debug.log*
client/npm-debug.log*

# Dependency directories
projects/node_modules
todos/node_modules
client/node_modules
file-server/node_modules

# Optional npm cache directory
projects/.npm
todos/.npm
client/.npm

# Optional REPL history
projects/.node_repl_history
todos/.node_repl_history
client/.node_repl_history

# Babel cache files
projects/babel_cache
todos/babel_cache

# Production bundles
projects/src/static/js
todos/src/static/js

# File uploads
file-server/uploads

# Visual Studio Code files
.vscode