# Logs
logs
*.log
node/npm-debug.log*

# Dependency directories
node/node_modules

# Optional npm cache directory
node/.npm

# Optional REPL history
node/.node_repl_history

# Visual Studio Code files
.vscode