# Logs
logs
*.log
projects/npm-debug.log*
todos/npm-debug.log*

# Dependency directories
projects/node_modules
todos/node_modules

# Optional npm cache directory
projects/.npm
todos/.npm

# Optional REPL history
projects/.node_repl_history
todos/.node_repl_history

# Visual Studio Code files
.vscode